In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [2]:
# Load the environment variables by calling the load_dotenv function
load_dotenv()

True

In [3]:
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [4]:
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

str

str

In [5]:
# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2"
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [6]:
# Format the current date as ISO format
today = pd.Timestamp("2021-09-28", tz="America/New_York").isoformat()

In [7]:
# Set the tickers for the stocks you have chosen
# We are selecting the following 15 (note to group that 14 currently work, but added in VOO)
tickers = ["TSM", "QCOM", "VALE", "AMD", "BHP", "RIO", "FCX", "INTC", "MSFT", "DDD", "NVDA", "TSLA", "AMAT", "F", "VOO"]

In [8]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [9]:
# Get current closing prices for above stocks
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
# Auto formats in alphabetical order
df_portfolio

                             AMAT                                         AMD  \
                             open    high       low   close    volume    open
time
2021-09-28 00:00:00-04:00  137.62  139.58  132.5339  132.91  10774137  106.79

                                                             ...   VALE  \
                             high     low   close    volume  ...   open
time                                                         ...
2021-09-28 00:00:00-04:00  107.65  101.42  101.52  71109820  ...  14.35

                                                            VOO          \
                            high    low close    volume    open    high
time
2021-09-28 00:00:00-04:00  14.41  13.76  13.8  39804576  405.53  405.87


                              low   close   volume
time
2021-09-28 00:00:00-04:00  399.33  400.09  7903801

[1 rows x 75 columns]

In [10]:
# The farthest Alpaca will go back is 2021-05-07 as of right now
# Format start and end dates as ISO format for one year period
start = pd.Timestamp("2021-05-28", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-09-28", tz="America/New_York").isoformat()

In [11]:
# Get closing prices for chosen stocks from start to end date of choice
df_portfolio_months = alpaca.get_barset(
    tickers,
    timeframe,
    start = start,
    end = end
).df

# Display sample data
df_portfolio_months.head(10)

                             AMAT                                      AMD  \
                             open    high     low    close   volume   open
time
2021-05-28 00:00:00-04:00  139.10  139.46  137.82  138.130  5352486  78.69
2021-06-01 00:00:00-04:00  138.98  142.12  137.26  138.200  8172772  81.01
2021-06-02 00:00:00-04:00  138.10  140.36  136.92  139.010  5701164  81.00
2021-06-03 00:00:00-04:00  137.13  138.03  135.09  136.380  7450791  81.15
2021-06-04 00:00:00-04:00  137.80  140.85  137.62  139.860  5760286  80.92
2021-06-07 00:00:00-04:00  139.22  139.69  138.19  138.970  4654583  81.41
2021-06-08 00:00:00-04:00  140.34  140.75  135.24  135.849  7075776  81.87
2021-06-09 00:00:00-04:00  136.85  137.47  134.57  134.680  5859583  81.03
2021-06-10 00:00:00-04:00  135.89  138.17  135.30  137.170  4925484  80.02
2021-06-11 00:00:00-04:00  136.82  137.15  135.23  136.810  4774587  81.60

                                                           ...   VALE  \
                             high    low  close    volume  ...   open
time                                                       ...
2021-05-28 00:00:00-04:00  81.090  78.66  80.10  38926159  ...  21.08
2021-06-01 00:00:00-04:00  82.910  80.66  80.80  41575624  ...  22.69
2021-06-02 00:00:00-04:00  82.600  80.66  81.99  33784147  ...  22.05
2021-06-03 00:00:00-04:00  81.890  80.26  80.27  27741701  ...  22.39
2021-06-04 00:00:00-04:00  82.190  80.81  81.57  24661996  ...  22.68
2021-06-07 00:00:00-04:00  81.680  80.38  81.33  25756477  ...  22.07
2021-06-08 00:00:00-04:00  82.645  80.45  80.88  25835849  ...  22.20
2021-06-09 00:00:00-04:00  81.677  79.80  79.96  26558237  ...  21.97
2021-06-10 00:00:00-04:00  81.710  79.70  81.55  27148346  ...  22.13
2021-06-11 00:00:00-04:00  82.330  80.70  81.30  23079467  ...  22.38

                                                                 VOO  \
                              high     low   close    volume    open
time
2021-05-28 00:00:00-04:00  21.6700  20.950  21.520  37971342  387.03
2021-06-01 00:00:00-04:00  22.8000  22.060  22.195  39826043  388.50
2021-06-02 00:00:00-04:00  22.8300  21.975  22.690  42481594  386.43
2021-06-03 00:00:00-04:00  22.4900  22.010  22.405  25519244  384.17
2021-06-04 00:00:00-04:00  22.6850  22.255  22.460  18947927  386.81
2021-06-07 00:00:00-04:00  22.3600  22.070  22.300  23450123  388.52
2021-06-08 00:00:00-04:00  22.2650  21.790  21.880  25770795  389.00
2021-06-09 00:00:00-04:00  22.3950  21.851  22.150  30557007  389.08
2021-06-10 00:00:00-04:00  22.3699  22.000  22.235  33852127  388.86
2021-06-11 00:00:00-04:00  22.4770  22.140  22.400  22231265  390.00


                               high     low   close   volume
time
2021-05-28 00:00:00-04:00  387.2700  385.94  386.14  2989968
2021-06-01 00:00:00-04:00  388.6200  385.38  385.79  3450288
2021-06-02 00:00:00-04:00  387.2400  385.47  386.49  3091198
2021-06-03 00:00:00-04:00  386.1100  382.70  385.09  3161557
2021-06-04 00:00:00-04:00  388.8000  386.76  388.53  2054784
2021-06-07 00:00:00-04:00  388.6900  387.25  388.19  2325799
2021-06-08 00:00:00-04:00  389.0800  386.44  388.22  2240541
2021-06-09 00:00:00-04:00  389.1300  387.41  387.63  2680519
2021-06-10 00:00:00-04:00  390.3597  387.58  389.43  2473548
2021-06-11 00:00:00-04:00  390.2000  388.73  390.09  2090533

[10 rows x 75 columns]

In [12]:
# The farthest Alpaca will go back is 2021-05-07 as of right now
# Format start and end dates as ISO format for one year period
start_2 = pd.Timestamp("2021-01-28", tz="America/New_York").isoformat()
end_2 = pd.Timestamp("2021-05-28", tz="America/New_York").isoformat()

In [13]:
# Get closing prices for chosen stocks from start to end date of choice
df_portfolio_months_2 = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_2,
    end = end_2
).df

# Display sample data
df_portfolio_months_2.head(10)

                               AMAT                                       AMD  \
                               open    high       low   close   volume   open
time
2021-01-28 00:00:00-05:00  101.1900  103.35   99.9700  101.15  6251681  89.83
2021-01-29 00:00:00-05:00  100.2300  100.46   96.0700   96.64  6786915  87.56
2021-02-01 00:00:00-05:00   99.2460  102.15   97.6800  101.16  7380065  86.83
2021-02-02 00:00:00-05:00  102.9900  103.94  101.7700  103.59  4249294  88.49
2021-02-03 00:00:00-05:00  104.3200  104.41   99.8200   99.82  4700972  88.60
2021-02-04 00:00:00-05:00  100.2100  103.73  100.2100  103.26  5738655  88.22
2021-02-05 00:00:00-05:00  104.8550  105.20  100.6900  100.70  4967626  88.15
2021-02-08 00:00:00-05:00  101.8500  106.25  101.7600  106.20  5521602  88.31
2021-02-09 00:00:00-05:00  106.2067  107.36  104.7805  105.37  4115018  91.39
2021-02-10 00:00:00-05:00  106.9400  108.20  105.0300  105.87  4568195  91.50

                                                            ...   VALE  \
                            high     low   close    volume  ...   open
time                                                        ...
2021-01-28 00:00:00-05:00  89.88  87.300  87.515  44634075  ...  16.52
2021-01-29 00:00:00-05:00  88.33  85.020  85.620  53007733  ...  16.36
2021-02-01 00:00:00-05:00  87.95  84.660  87.670  40833420  ...  16.47
2021-02-02 00:00:00-05:00  89.28  86.950  88.860  32489118  ...  16.74
2021-02-03 00:00:00-05:00  89.48  87.340  87.900  31100512  ...  16.71
2021-02-04 00:00:00-05:00  88.60  87.060  87.880  28817234  ...  16.85
2021-02-05 00:00:00-05:00  88.36  86.875  87.820  27393655  ...  16.73
2021-02-08 00:00:00-05:00  91.99  87.980  91.460  45613717  ...  17.35
2021-02-09 00:00:00-05:00  92.41  90.550  90.910  36612853  ...  17.23
2021-02-10 00:00:00-05:00  93.27  90.460  92.360  41592186  ...  17.69

                                                                VOO            \
                              high     low  close    volume    open      high
time
2021-01-28 00:00:00-05:00  16.8799  16.230  16.74  25359342  345.97  351.0707
2021-01-29 00:00:00-05:00  16.5100  16.090  16.16  20941014  345.31  346.2200
2021-02-01 00:00:00-05:00  16.9016  16.205  16.73  25024855  343.63  346.8500
2021-02-02 00:00:00-05:00  16.7600  16.330  16.37  31207861  349.05  352.3400
2021-02-03 00:00:00-05:00  17.3116  16.660  16.90  37390188  351.70  352.8000
2021-02-04 00:00:00-05:00  16.9000  16.430  16.50  30418159  352.12  355.0400
2021-02-05 00:00:00-05:00  17.3200  16.715  17.25  23175987  356.90  357.1312
2021-02-08 00:00:00-05:00  17.8700  17.340  17.65  37040738  357.92  359.0200
2021-02-09 00:00:00-05:00  17.6450  17.070  17.64  25218339  358.22  359.3300
2021-02-10 00:00:00-05:00  17.8000  17.500  17.66  27476321  360.53  360.6100


                               low    close   volume
time
2021-01-28 00:00:00-05:00  345.580  347.080  3085804
2021-01-29 00:00:00-05:00  338.570  340.230  5248601
2021-02-01 00:00:00-05:00  341.400  345.770  3235652
2021-02-02 00:00:00-05:00  349.000  350.750  2827677
2021-02-03 00:00:00-05:00  349.880  351.120  3098360
2021-02-04 00:00:00-05:00  351.920  354.980  1906217
2021-02-05 00:00:00-05:00  355.316  356.415  2103410
2021-02-08 00:00:00-05:00  357.060  359.020  3367368
2021-02-09 00:00:00-05:00  357.770  358.800  1897449
2021-02-10 00:00:00-05:00  356.300  358.670  2377077

[10 rows x 75 columns]